---
import { imageConfig } from "astro:assets";
import Container from "./Container.astro";
import Logo from "./logo.astro";
import Gdsclogo from "./Gdsclogo.astro";
---
<footer class="bg-white bg-fixed bg-bottom footer shadow-md ">
    <Container>
        <div class="flex flex-col items-center justify-between md:flex-row">
            <div class="flex items-center space-x-3 rtl:space-x-reverse mt-3 md:mt-0">
                <div>
                <Logo/>
            </div>
                        
            </div>
            <div class="flex items-center justify-center mt-4 md:mt-0"> 
             <h1 class="bebas-neue-regular text-sm text-zinc-500">© 2024 GDSC WoW Mangalore — All rights reserved.</h1>   
    </div>
            <div class="  flex flex-row justify-center items-center md:m-0 md: ml-5 ">
          <a href="https://www.instagram.com/gdsc_wow_mangalore?igsh=MTEzMWJuZTltZ2d0cA==">  <span class="icon-[skill-icons--instagram] mt-2 mr-2" style="width: 35px; height: 35px;"></span></a>  
            <a href="https://www.linkedin.com/company/gdsc-wow-mangalore/">    <span class="icon-[skill-icons--linkedin] mt-2 mr-2" style="width: 35px; height: 35px;"></span></a>  

            </div>
        </div>
        
    </Container>
</footer>