---
import { imageConfig } from "astro:assets";
import Container from "./Container.astro";
import Logo from "./logo.astro";
import Gdsclogo from "./Gdsclogo.astro";
---
<footer class="bg-white bg-fixed bg-bottom footer shadow-md ">
    <Container>
        <div class="flex flex-col items-center justify-between md:flex-row">
            <div class="flex items-center space-x-3 rtl:space-x-reverse mt-3 md:mt-0">
                <div>
                <Logo/>
            </div>
                        
            </div>
            <div class="flex items-center justify-center mt-4 md:mt-0"> 
             <h1 class="bebas-neue-regular">&copy 2024 GDSC WOW MANGALORE.ALL RIGHTS RESEVERD</h1>   
    </div>
            <div class="  flex flex-row items-center md:m-0 md: ml-8 ">
                <Gdsclogo/>
                <h1 class="roboto-bold-italic">Google Developer Student Club Mangaluru</h1>

            </div>
        </div>
        
    </Container>
</footer>