---
import Container from "./Container.astro"
import Gdsclogo from "./Gdsclogo.astro"
---
<Container>
<div  class="relative flex flex-col-reverse items-center  md:flex-row bg-zinc-200" id="hero">
    <div class="row items-center py-5 md:w-6/12">
        <div class="text-left space-y-3">
           <div class="write">
            
            <div class="bebas-neue-regular typewriter font-bold text-4xl md:text-5xl">
                <h1 >GDSC WOW Mangaluru</h1>
              </div>
            </div> 
            <p class="mt-6 mb-8  text-xl font-normal leading-7 sm:mb-12"> Mangalore is a vibrant city known for its coastal beauty, cultural diversity, delicious seafood cuisine, and renowned educational institutions.</p>
            <a class="px-9 py-5 border rounded-2xl justify-items-center md:justify-items-start gap-2.5 inline-flex gojo" rel="noopener noreferrer"  href="https://konfhub.com/wow-mangalore" target="_blank">
                <h2 class="text-center text-xl font-normal leading-7">Book your Ticket</h2>
            </a>
        </div>
    </div>
    <div class="flex items-center py-5 md:w-6/12">
        <img src="/google-featured.jpg" width="100%" height="100%" alt="Hero"/>
    </div>
</div>


</Container>