---
import Container from "./Container.astro";
import LogoO from "./logoO.astro";
import Gdsclogo from "./Gdsclogo.astro";

const colleges = [
  {
    name: "GDSC SJEC Vamanjoor",
    link: "https://gdsc.community.dev/st-joseph-engineering-college-mangaluru-india/",
  },
  {
    name: "GDSC SIT Valachil",
    link: "https://gdsc.community.dev/srinivas-institute-of-technology-mangaluru-india/",
  },
  {
    name: "GDSC KLEIT Hubli",
    link: "https://gdsc.community.dev/kle-societys-kle-institute-of-technology-hubli-india/",
  },
  {
    name: "GDSC PACE Nadupadav",
    link: "https://gdsc.community.dev/p-a-college-of-engineering-mangaluru-india/",
  },
  {
    name: "GDSC SCEM Adyar",
    link: "https://gdsc.community.dev/sahyadri-college-of-engineering-management-mangaluru-india/",
  },
  {
    name: "GDSC NMAMIT Deralakatte",
    link: "https://gdsc.community.dev/nmam-institute-of-technology-deralakatte-india/",
  },
];
---

<Container>
    <div class="flex gap-2">
      <LogoO class="spinner"/>
      <h2
        class="text-4xl font-medium leading-none sm:text-6xl bebas-neue-regular mb-5"
      >
        Partners
      </h2>
    <div class="speaker md:pl-5 md:pr-8 md:pb-8 md:pt-6">
      <div class="relative flex flex-col items-center md:flex-row">
        <div class="row items-center md:pr-16 py-5 md:w-6/12 md:py-2">
          <div
            class="text-center md:text-left space-y-3 flex flex-row items-center md:ml-10 gap-5"
          >
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="grid grid-cols-3">
      {
        colleges.map((college) => (
          <a href={college.link} target="_blank" rel="noopener noreferrer">
            <Gdsclogo /> {college.name}
          </a>
        ))
      }
    </div>
  </div>
</Container>
