---
import Container from "./Container.astro"
import LogoO from "./logoO.astro"
import Gdsclogo from "./Gdsclogo.astro"
---
<Container>
    <div class="md:border-google_blue speaker md:border-2 md:pl-5 md:pr-8 md:pb-8 md:pt-6 ">
        <div class="relative flex flex-col items-center md:flex-row">
            <div class="row items-center py-5 md:pr-16 md:w-6/12 md:py-10">
                <div class="text-center md:text-left space-y-3 flex flex-row items-center  md:ml-10">
                    <div class="spinner">
                        <LogoO/>
                    </div>
                    <div>
                    <h2 class="text-4xl font-medium leading-none sm:text-6xl bebas-neue-regular ml-2">Partners</h2></div>
                </div>
            </div>
           
        </div>
        
    <div class="custom-grid ">
        <a href="https://gdsc.community.dev/st-joseph-engineering-college-mangaluru-india/"><div class="custom-card ">          
              <div class="  flex flex-row items-center md:m-0 md: ml-8  ">
            <Gdsclogo/>
            <h1 class="roboto-bold-italic text-lg md:text-2xl">GDSC SJEC Vamanjoor</h1>

        </div></div></a>
        <a href=" https://gdsc.community.dev/srinivas-institute-of-technology-mangaluru-india/"><div class="custom-card">              <div class="  flex flex-row items-center md:m-0 md: ml-8 ">
            <Gdsclogo/>
            <h1 class="roboto-bold-italic text-lg md:text-2xl">GDSC SIT Valachil</h1>

        </div></div></a>
       <a href="https://gdsc.community.dev/kle-societys-kle-institute-of-technology-hubli-india/"> <div class="custom-card">              <div class="  flex flex-row items-center md:m-0 md: ml-8 ">
            <Gdsclogo/>
            <h1 class="roboto-bold-italic text-lg md:text-2xl">GDSC KLEIT Hubli</h1>

        </div></div></a>
     <a href="https://gdsc.community.dev/p-a-college-of-engineering-mangaluru-india/"> <div class="custom-card">              <div class="  flex flex-row items-center md:m-0 md: ml-8 ">
            <Gdsclogo/>
            <h1 class="roboto-bold-italic text-lg md:text-2xl ">GDSC PACE Nadupadav</h1>

        </div></div></a>  
     <a href="https://gdsc.community.dev/sahyadri-college-of-engineering-management-mangaluru-india/"><div class="custom-card">              <div class="  flex flex-row items-center md:m-0 md: ml-8 ">
            <Gdsclogo/>
            <h1 class="roboto-bold-italic text-lg md:text-2xl">GDSC SCEM Adyar</h1>

        </div></div></a>   
      <a href="https://gdsc.community.dev/nmam-institute-of-technology-deralakatte-india/"><div class="custom-card">              <div class="  flex flex-row items-center md:m-0 md: ml-8 ">
            <Gdsclogo/>
            <h1 class="roboto-bold-italic text-lg md:text-2xl">GDSC NMAMIT Deralakatte </h1>

        </div></div>
      </div></a>  
      </div>
</Container>