---
import Container from "./Container.astro"
import LogoO from "./logoO.astro"
---
<Container>
    <div class="relative flex flex-col items-center md:flex-row">
        <div class="row items-center py-5 md:pr-16 md:w-6/12 md:py-10">
            <div class="text-center md:text-left space-y-3 flex flex-row items-center  md:ml-10">
                <div class="spinner">
                    <LogoO/>
                </div>
                <div>
                <h2 class="text-4xl font-medium leading-none sm:text-6xl bebas-neue-regular ml-2">Theme</h2></div>
            </div>
        </div>
    </div>
    <div class="profile-cards">
        <div class="profile-card text-xl font-sans border-2 border-google_red rounded-[15px] text-white hover:text-google_red hover:bg-white bg-google_red">Salesforce</div>
        <div class="profile-card text-xl font-sans border-2 border-google_green rounded-[15px] text-white hover:text-google_green hover:bg-white bg-google_green"> Flutter and Generative AI</div>
        <div class="profile-card text-xl font-sans border-2 border-google_yellow rounded-[15px] text-white hover:text-google_yellow hover:bg-white bg-google_yellow">Supercharging development using docker</div>
        <div class="profile-card text-xl font-sans border-2 border-google_blue rounded-[15px] text-white hover:text-google_blue hover:bg-white bg-google_blue">Gemini AI</div>
    </div>
</Container>