---
import Container from "./Container.astro"
import LogoO from "./logoO.astro"

---
<Container>
    <div class="relative flex flex-col items-center md:flex-row">
        <div class="row items-center py-5 md:pr-16 md:w-6/12 md:py-10">
            <div class="text-center md:text-left space-y-3 flex flex-row items-center  md:ml-10">
                <div class="spinner">
                    <LogoO/>
                </div>
                <div>
                <h2 class="text-4xl font-medium leading-none sm:text-6xl bebas-neue-regular ml-2">Timeline</h2></div>
            </div>
        </div>
        </div>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>Session</th>
                        <th>Duration</th>
                        <th>Timing</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Repeat rows as needed -->
                    <tr>
                        <td></td>
                        <th>Reporting – 8:45 AM</th>
                       <td></td>
                    </tr>
                    <tr>
                        <td>Inaugration </td>
                        <td> 30 mins</td>
                        <td>9:00 – 9:30 </td>
                    </tr>
                    <tr>
                        <td>Announcing 1st half agenda</td>
                        <td>15 mins </td>
                        <td>9:35 – 9:50 </td>
            
                    </tr>
                    <tr>
                        <td>Tech-talk I – @Niveus Solution</td>
                        <td>40 mins </td>
                        <td>9:55 – 10:35 </td>
            
                    </tr>
                    <tr>
                        <td>Workshop I – Sneha @Salesforce </td>
                        <td>60 mins </td>
                        <td>10:40 – 11:40 </td>
            
                    </tr>
                    <tr>
                        <td>Tech-talk II – Jeevitha @Dubai Summit </td>
                        <td>40 mins </td>
                        <td>11:45 – 12:25 </td>
            
                    </tr>
                    <tr>
                    <td></td>
                        <th>Networking session I – 12:30 to 12:45</th>
                    <td></td>
            
                    </tr>
                    <tr>
                        <td> </td>
                        <th>Lunch – 12:45 to 1:30 </th>
                        <td></td>
            
                    </tr>
                    <tr>
                        <td>Announcing 2nd half agenda  </td>
                        <td>10 mins</td>
                        <td>1:35 – 1:45 </td>
            
                    </tr>
                    <tr>
                        <td>Tech-talk III – Swasthik  @Google </td>
                        <td>40 mins</td>
                        <td>1:50 – 2:30 </td>
            
                    </tr>
                    <tr>
                        <td>Tech-talk IV –  NITK Prof.  </td>
                        <td>30 mins</td>
                        <td>2:35 – 3:05 </td>
            
                    </tr>
                    <tr>
                        <td>Ice-breaker activity</td>
                        <td>15 mins</td>
                        <td>3:10 – 3:25 </td>
            
                    </tr>
                    <tr>
                        <td>Workshop II – Akshay @Abyudaya   </td>
                        <td>60 mins</td>
                        <td>3:25 – 4:25 </td>
            
                    </tr>
                    <tr>
                        <td>Tech-talk V – Shanwill @Unicourt  </td>
                        <td>30 mins </td>
                        <td>4:30 – 5:00  </td>
            
                    </tr>
                    <tr>
                        <td></td>
                        <th>Podcast session – 5:00 to 5:30 </th>
                        <td></td>
            
                    </tr>
                    <tr>
                        <td></td>
                        <th>High tea/Swags – 5:30 – 6:00 </th>
                        <td></td>
            
                    </tr>
        


                    <!-- Repeat more rows... -->
                </tbody>
            </table>
        </div>
       
</Container>