---
import Container from "./Container.astro"
import LogoO from "./logoO.astro"

---
<Container>
    <div class="relative flex flex-col items-center md:flex-row">
        <div class="row items-center py-5 md:pr-16 md:w-6/12 md:py-10">
            <div class="text-center md:text-left space-y-3 flex flex-row items-center  md:ml-10">
                <div class="spinner">
                    <LogoO/>
                </div>
                <div>
                <h2 class="text-4xl font-medium leading-none sm:text-6xl bebas-neue-regular ml-2">Timeline</h2></div>
            </div>
        </div>
        </div>

        <div>
            <table>
                <thead>
                    <tr>
                        <th class="font-sansroboto-condensed bebas-neue-regular text-lg table-1 border-solid border-[1px] border-white text-white bg-google_red">Session</th>
                        <th class="font-sansroboto-condensed bebas-neue-regular text-lg border-solid border-[1px] border-white text-white bg-google_red">Duration</th>
                        <th class="font-sansroboto-condensed bebas-neue-regular text-lg border-solid border-[1px] border-white text-white bg-google_red">Timing</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Repeat rows as needed -->
                    <tr>
                        <td></td>
                        <th class="font-sansroboto-condensed  "> Reporting – 8:45 AM</th>
                       <td></td>
                    </tr>
                    <tr>
                        <td class="font-sansroboto-condensed font-bold">Inaugration </td>
                        <td class="font-sansroboto-condensed font-medium"> 30 mins</td>
                        <td class="font-sansroboto-condensed font-medium">9:00 – 9:30 </td>
                    </tr>
                    <tr>
                        <td class="font-sansroboto-condensed font-bold">Announcing 1st half agenda</td>
                        <td class="font-sansroboto-condensed font-medium">15 mins </td>
                        <td class="font-sansroboto-condensed font-medium">9:35 – 9:50 </td>
            
                    </tr>
                    <tr>
                        <td class="font-sansroboto-condensed font-bold">Tech-talk I – @Niveus Solution</td>
                        <td class="font-sansroboto-condensed font-medium">40 mins </td>
                        <td class="font-sansroboto-condensed font-medium">9:55 – 10:35 </td>
            
                    </tr>
                    <tr>
                        <td class="font-sansroboto-condensed font-bold">Workshop I – Sneha @Salesforce </td>
                        <td class="font-sansroboto-condensed font-medium">60 mins </td>
                        <td class="font-sansroboto-condensed font-medium">10:40 – 11:40 </td>
            
                    </tr>
                    <tr>
                        <td class="font-sansroboto-condensed font-bold">Tech-talk II – Jeevitha @Dubai Summit </td>
                        <td class="font-sansroboto-condensed font-medium">40 mins </td>
                        <td class="font-sansroboto-condensed font-medium">11:45 – 12:25 </td>
            
                    </tr>
                    <tr>
                    <td></td>
                        <th class="font-sansroboto-condensed ">Networking session I – 12:30 to 12:45</th>
                    <td></td>
            
                    </tr>
                    <tr>
                        <td> </td>
                        <th class="font-sansroboto-condensed">Lunch – 12:45 to 1:30 </th>
                        <td></td>
            
                    </tr>
                    <tr>
                        <td class="font-sansroboto-condensed font-bold">Announcing 2nd half agenda  </td>
                        <td class="font-sansroboto-condensed font-medium">10 mins</td>
                        <td class="font-sansroboto-condensed font-medium">1:35 – 1:45 </td>
            
                    </tr>
                    <tr>
                        <td class="font-sansroboto-condensed font-bold">Tech-talk III – Swasthik  @Google </td>
                        <td class="font-sansroboto-condensed font-medium">40 mins</td>
                        <td class="font-sansroboto-condensed font-medium">1:50 – 2:30 </td>
            
                    </tr>
                    <tr>
                        <td class="font-sansroboto-condensed font-bold">Tech-talk IV –  NITK Prof.  </td>
                        <td class="font-sansroboto-condensed font-medium">30 mins</td>
                        <td class="font-sansroboto-condensed font-medium">2:35 – 3:05 </td>
            
                    </tr>
                    <tr>
                        <td class="font-sansroboto-condensed font-bold">Ice-breaker activity</td>
                        <td class="font-sansroboto-condensed font-medium">15 mins</td>
                        <td class="font-sansroboto-condensed font-medium">3:10 – 3:25 </td>
            
                    </tr>
                    <tr>
                        <td class="font-sansroboto-condensed font-bold">Workshop II – Akshay @Abyudaya   </td>
                        <td class="font-sansroboto-condensed font-medium">60 mins</td>
                        <td class="font-sansroboto-condensed font-medium">3:25 – 4:25 </td>
            
                    </tr>
                    <tr>
                        <td class="font-sansroboto-condensed font-bold">Tech-talk V – Shanwill @Unicourt  </td>
                        <td class="font-sansroboto-condensed font-medium">30 mins </td>
                        <td class="font-sansroboto-condensed font-medium">4:30 – 5:00  </td>
            
                    </tr>
                    <tr>
                        <td ></td>
                        <th class="font-sansroboto-condensed ">Podcast session – 5:00 to 5:30 </th>
                        <td></td>
            
                    </tr>
                    <tr>
                        <td></td>
                        <th class="font-sansroboto-condensed ">High tea/Swags – 5:30 – 6:00 </th>
                        <td></td>
            
                    </tr>
        


                    <!-- Repeat more rows... -->
                </tbody>
            </table>
        </div>
       
</Container>